ENTITY_DB_MODE=LOCAL
ENTITY_CLOUD_API_BASE=http://localhost:3000
VITE_MC_ORIGIN=http://localhost:3000
VITE_ENTITY_API_BASE=http://localhost:3000
ENTITY_FS_MULTISOURCE=true
ENTITY_FS_INDEXER_ENABLED=false
VITE_ENTITY_WS_PORT=3000
ENTITY_DEFAULT_DOCUMENTS_TOKEN=change-me

# Optional Sentry configuration
SENTRY_DSN=
VITE_SENTRY_DSN=
